/Backend/TodoAPI/.vs
*.bin
/Backend/TodoAPI/.vs
/Backend/TodoAPI/.vs
*.dll
/Backend/TodoAPI/TodoAPI/obj
/Backend/TodoAPI/.vs
*.v2
/Backend/TodoAPI/.vs
/Backend/TodoAPI/TodoAPI/bin
/Backend/TodoAPI/TodoAPI/bin/Debug
/Backend/TodoAPI/TodoAPI/bin/Debug/net8.0
/Backend/TodoAPI/TodoAPI/bin
/Backend/TodoAPI/TodoAPI/obj