<div class="w-full h-auto">
    <div class="grid grid-cols-7 row-auto">
      <div class="flex col-span-7">
          <div class="flex-auto">
            <hr
              class="ml-32 rounded-md mt-6 mr-4"
              style="border-color: #b4c7d3"
            />
          </div>
          <div class="flex">
            <img
              src="./assets/svg/footer/Facebook-Footer.svg"
              alt="errrrrr"
              class="h-[25px] m-3 cursor-pointer"
            />
            <img
              src="./assets/svg/footer/Google-Footer.svg"
              alt="errrrrr"
              class="h-[25px] m-3 cursor-pointer"
            />
            <img
              src="./assets/svg/footer/X-Footer.svg"
              alt="errrrrr"
              class="h-[25px] m-3 cursor-pointer"
            />
            <img
              src="./assets/svg/footer/Instagram-Footer.svg"
              alt="errrrrr"
              class="h-[25px] m-3 cursor-pointer"
            />
            <img
              src="./assets/svg/footer/Youtube-Footer.svg"
              alt="errrrrr"
              class="h-[30px] m-3 cursor-pointer"
            />
            <img
              src="./assets/svg/footer/Tiktok.svg"
              alt="errrrrr"
              class="h-[25px] m-3 cursor-pointer"
            />
            <img
              src="./assets/svg/footer/Linkedin-Footer.svg"
              alt="errrrrr"
              class="h-[25px] m-3 cursor-pointer"
            />
          </div>
          <div class="flex-auto">
            <hr
              class="mr-32 rounded-md mt-6 ml-4"
              style="border-color: #b4c7d3"
            />
          </div>
      </div>
      <div
        class="flex justify-center col-span-7 text-3xl"
        style="color: #b4c7d3"
      >
        Title
      </div>
      <div
        class="flex justify-center col-span-7 text-xs"
        style="color: #b4c7d3; font-size: 0.7rem"
      >
        all rights recieved
      </div>
      <div class="flex justify-center col-span-7" style="color: #b4c7d3">
        <div class="underline py-2 text-xs cursor-pointer">legal stuff</div>
        <div class="p-2 text-xs">|</div>
        <div class="underline py-2 text-xs cursor-pointer">privacy policy</div>
        <div class="p-2 text-xs">|</div>
        <div class="underline py-2 text-xs cursor-pointer">Security</div>
        <div class="p-2 text-xs">|</div>
        <div class="underline py-2 text-xs cursor-pointer">Website acessibility</div>
        <div class="p-2 text-xs">|</div>
        <div class="underline py-2 text-xs cursor-pointer">Manage cookies</div>
      </div>
    </div>
  </div>