<section class="h-screen">
    <div class="container mx-auto h-full">
      <div class="flex justify-center items-center h-full">
        <div class="w-full max-w-md lg:max-w-sm">
          <img
            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="w-full h-auto"
            alt="Sample image"
          />
        </div>
        <div class="w-full max-w-lg lg:max-w-md">
          <form>
            <!-- Name input -->
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="name">Name</label>
              <input
                type="text"
                [(ngModel)]="registerObj.username"
                name="name"
                id="name"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                placeholder="Enter your name"
              />
            </div>
  
            <!-- Email input -->
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
              <input
                type="email"
                [(ngModel)]="registerObj.email"
                name="email"
                id="email"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                placeholder="Enter a valid email address"
              />
            </div>
  
            <!-- Password input -->
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Password</label>
              <input
                type="password"
                [(ngModel)]="registerObj.password"
                name="password"
                id="password"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                placeholder="Enter password"
              />
            </div>
  
            <!-- Role dropdown -->
          <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="role">Select Role</label>
            <select
              [(ngModel)]="registerObj.roleId"
              name="role"
              id="role"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            >
              <option value="" disabled selected>Select a role</option>
              @for (role of roles; track $index) {
                <option [value]="role.roleId">{{ role.roleName  }}</option>
              }
            </select>
          </div>

            <div class="flex justify-around">
            <div class="flex justify-center mt-4">
              <button
                (click)="onRegister()"
                type="button"
                class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-8 rounded focus:outline-none focus:shadow-outline"
              >
                Register
              </button>
            </div>
            <div class="flex justify-center mt-4">
                <a
                  [routerLink]="['/login']" routerLinkActive="router-link-active" 
                  type="button"
                  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-8 rounded focus:outline-none focus:shadow-outline"
                >
                  Login
                </a>
              </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  