

  <div class="h-screen flex items-center justify-center" style="color: white">
    <div
      class="shadow-md p-4"
      style="
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 30px;
        backdrop-filter: blur(2px);
        filter: saturate(1.25);
      "
    >
      <div class="grid auto-rows-auto">
        <div
          class="text-center"
          style="font-size: large; font-weight: 500; padding-bottom: 20px"
        >
          <span> Login Page </span>
        </div>
        <input
          type="text"
          name="Username"
          class="hover-border border-b-2 w-[300px] focus:outline-none hover:cursor-text my-4 shadow-md hover:shadow-md hover:shadow-orange-200"
          style="background: transparent"
          placeholder=" Username/Email"
        />
        <input
          type="password"
          name="Password"
          style="background: transparent"
          class="hover-border border-b-2 w-[300px] focus:outline-none hover:cursor-text my-4 shadow-md hover:shadow-md hover:shadow-orange-200"
          placeholder=" Password"
        />
        <div
          class="flex items-center justify-center"
          style="padding-bottom: 1.5rem"
        >
          <input
            type="submit"
            name="submit"
            class="shadow-md w-min items-center rounded-md px-2 py-1 mt-3 appearance-none hover:shadow-md hover:shadow-orange-200"
            style="cursor: pointer"
            value="Submit"
          />
        </div>
        <div class="">
          <hr
            class="rounded-md"
            style="
              height: 1px;
              border: none;
              color: #8e7497;
              background-color: #8e7497;
            "
          />
        </div>
        <div class="flex items-center justify-center py-2">OR</div>
        <div class="pb-3" style="padding-bottom: 20px">
          <hr
            class="rounded-md"
            style="
              height: 1px;
              border: none;
              color: #8e7497;
              background-color: #8e7497;
            "
          />
        </div>

        <div class="flex items-center justify-center py-2">
          <button
            class="flex px-2 py-1 rounded-md shadow-md hover:shadow-md hover:shadow-orange-200"
            style="cursor: pointer"
          >
            <img
              src="../assets/svg/Google.svg"
              alt="errrrrr"
              style="width: 25px; margin-right: 10px"
            />
            <div class="">Login with Google</div>
          </button>
        </div>
        <div class="flex items-center justify-center py-2">
          <button
            class="flex px-2 py-1 rounded-md shadow-md hover:shadow-md hover:shadow-orange-200"
            style="cursor: pointer"
          >
            <img
              src="../assets/svg/Facebook.svg"
              alt="errrrrr"
              class=""
              style="width: 22px; margin-right: 10px"
            />
            <div>Login with Facebook</div>
          </button>
        </div>
        <div class="flex items-center justify-center py-2">
          <button
            class="flex px-2 py-1 rounded-md shadow-md hover:shadow-md hover:shadow-orange-200"
            style="cursor: pointer"
          >
            <img
              src="../assets/svg/X.svg"
              alt="errrrrr"
              class=""
              style="width: 15px; margin-right: 10px"
            />
            <div>Login with X</div>
          </button>
        </div>
      </div>
    </div>
  </div>